@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --grey: #4D4D4D;
  --primary: #800080;
  --gradient: linear-gradient(270deg, #800080 0%, #FF864C 100%);;
  --black: #000000;
  --light-pink: #EEAEAE;
}

.font-14 {
  font-size: 14px;
}

.font-16 {
  font-size: 16px;
}

.font-18 {
  font-size: 18px;
}

.font-20 {
  font-size: 20px;
}

.font-24 {
  font-size: 24px;
}

.font-32 {
  font-size: 32px;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.opacity-25 {
  opacity: 0.25;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.workspace {
  width: 75%;
  margin: auto;
}

@media only screen and (max-width: 1024px) {
  .workspace {
      width: 80%
  }
}

@media only screen and (max-width: 900px) {
  .workspace {
      width: 90%;
      max-width: 500px;
  }
}

.vertical-separator {
  margin: 30px auto;
}

.vertical-separator-padding {
  padding: 10px 0px;
}

.button {
  border: 0;
  background: var(--primary);
  color: white;
  font-family: inherit;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 50px;
}

.primary {
  color: var(--primary);
}